h1{
    font-size: 150px;
    color:blue;
}

img:hover{
    background-color:gold;
}
.cucumber{
    background-color: green;
}
.tomato{
    background-color: red;
}
.circular{
    border-radius: 100%;
}
#heading{
  
}
#big{
    font-size: 1000px;
}